body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.titleRow {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* dank geht raus an https://www.w3schools.com/howto/howto_js_progressbar.asp */
#myProgress {
  width: 100%;
  background-color: grey;
  margin-bottom: 20px;
  height: 30px;
}

#myBar { /* <LoadingBar> */
  width: 20%;
  height: 30px;
  background-color: green;
}


#gameInfo { /* <GameInfo> */
  margin-right: 50px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.playerColorSquare { /* Square shown in titleBar */
  background: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 15px;
  height: 33px;
  margin-right: 20px;
  margin-left: 5px;
  padding-left: 33px;
  padding-top: 5px;
  width: 33px;
}

#playerInfo {
  float: "left";
}
#playerInfo h2 {
  display: "inline";
}

#opponentInfo {
  float: "right";
}


.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 15px;
  height: 15px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 15px;
  flex-grow: 1;
  padding-top: 6.25%; /* trial and error value */
}   

.blue {
  background: rgb(39,167,216);
}

.green-font {
  color: green;
}

.lighterBackground { /* used to mark selected tile */
  opacity: 0.5;
}

.red {
  background: rgb(255,154,0);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
 }

.game-board {
  width: 50%;
  margin: 0 auto;
}

.game-info {
  margin-left: 20px;
}




