body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.titleBar {
  margin-bottom: 20px;
}

/* dank geht raus an https://www.w3schools.com/howto/howto_js_progressbar.asp */
#myProgress {
  width: 100%;
  background-color: grey;
  margin-bottom: 20px;
  height: 30px;
}

#myBar {
  width: 20%;
  height: 30px;
  background-color: green;
}


ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 15px;
  height: 15px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 15px;
  flex-grow: 1;
  padding-top: 6.15%; /* trial and error value */
}

.blue {
  background: rgb(54, 15, 224);
}

.red {
  background: rgb(224, 15, 15);
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
 }

.game-board {
  width: 50%;
  margin: 0 auto;
}

.game-info {
  margin-left: 20px;
}




